{%set p = "static/gallery/"%}
{%set albums = ["craft", "nature"]%}

{%for album in albums%}
{%set data = load_data(path=p ~ album ~ "/desc.csv")%}
<h1>{{album | title}}</h1>
<div class="gallery">
  {%for r in data.records%}
  {%set raw = album ~ "/" ~ r[0]%}
  <figure>
    <figcaption>{{r[1]}}</figcaption>
    <!-- This only works in build mode -->
    <a href="{{raw}}">
      <img src="{{resize_image(path='../static/gallery/' ~ raw, width=480, op='fit_width')}}"/>
    </a>
  </figure>
  {%endfor%}
</div>
{%endfor%}

<style>
  .gallery {
    display: grid;
    grid-template-rows: masonry;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    gap: 1em;
  }
  img {
    width: 100%;
    display: block;
  }
  figure {
    position: relative;
    margin: 0;
    border-radius: .5em;
    overflow: hidden;
  }

  figcaption {
    backdrop-filter: blur(10px);
    /*color: rgb(var(--label-fg));*/
    background-color: rgba(0, 0, 0, .3);
    
    width: 100%;
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    padding: .2rem 1rem;

    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
</style>