{%macro post_info(page)%}
<header class="post-item">
  <h2><a href="{{page.permalink}}">{{page.title}}</a></h2>
  <div>
    {%if page.date%}
    <time datetime="{{page.date}}">{{page.date|date(format="%Y-%m-%e")}}</time>
    {%endif%}

    <ul>
      {%for kind, names in page.taxonomies%}
        {%for name in names%}
          <li><a href="{{get_taxonomy_url(kind=kind, name=name)}}">{{name}}</a></li>
        {%endfor%}
      {%endfor%}
    </ul>
  </div>
  {%if page.summary %}
    <p>{{page.summary|safe}}</p>
  {%endif%}
</header>
{%endmacro post_header%}